Data-Collection/instructions.aux
Data-Collection/instructions.dvi
Data-Collection/instructions.fdb_latexmk
Data-Collection/instructions.fls
Data-Collection/instructions.log
Data-Collection/instructions.synctex.gz
Data-Collection/structure.txt
Data-Collection/indent.log
*Identifier