Experiment/instructions.aux
Experiment/instructions.dvi
Experiment/instructions.fdb_latexmk
Experiment/instructions.fls
Experiment/instructions.log
Experiment/instructions.synctex.gz
Experiment/structure.txt