/* .checked {
  color: orange;
}
.unchecked {
  color: grey;
}
.unchecked:hover {
  color: orange;
} */

.parent span {
  color: grey;
}

.parent:hover span {
  color: orange;
}

.parent span:hover ~ span {
  color: grey;
}
